# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Packaging files:
*.egg*

# Virtual Environments
venv
node_modules

# SQLite3 database files:
*.db
*.sqlite3
*.sqlite

# Static files
/static/
/dist/
/frontend/dist

# Editor things
.vscode
.idea
*.orig

# Pytest
.coverage

# User specific settings
Makefile.local

# Local dev env
/volumes