{% load crispy_forms_filters %}
{% load l10n %}

<div id="div_{{ field.auto_id }}" class="{% if wrapper_class %}{{ wrapper_class }} {% endif %}{% if field_class %}{{ field_class }}{% else %}mb-3{% endif %}">
{% if field.label and form_show_labels %}
    <label for="{{ field.id_for_label }}" class="{% if label_class %}{{ label_class }}{% else %}block text-gray-700 text-sm font-bold mb-2{% endif %}">
        {{ field.label|safe }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
    </label>
{% endif %}

<div class="grid grid-cols-2 md:grid-cols-3 gap-4">
    {% for choice in field.field.choices %}
    <div class="pl-4 py-3 border border-gray-200 rounded dark:border-gray-700">
        <input id="id_{{ field.html_name }}_{{ forloop.counter }}" value="{{ choice.0|unlocalize }}" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
        <label for="id_{{ field.html_name }}_{{ forloop.counter }}" class="w-full py-4 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{ choice.1|unlocalize }}</label>
    </div>
    {% endfor %}
</div>

</div>
