{% extends "_base.html" %}

{% load static %}

{% block content %}
  <h1 class="text-3xl pl-3">Bildergalerie</h1>
  <div class="grid justify-center">
    <input id="hidden-input" type="file" multiple class="hidden" name="images" accept="image/*"/>
    <button type="button" class="btn my-2" id="add-button">Bild hochladen</button>
    <p id="status" class="hidden"></p>
  </div>
  <div class="grid justify-center">
    <div id="gallery"></div>
    <div  class="grid justify-center" id="load-button-container">
      <button type="button" class="btn hidden" id="load-button">Mehr Bilder laden</button>
    </div>

    <div class="loader" id="loader">
      <div class="loader-inner">
        <div class="loader-line-wrap">
          <div class="loader-line"></div>
        </div>
        <div class="loader-line-wrap">
          <div class="loader-line"></div>
        </div>
        <div class="loader-line-wrap">
          <div class="loader-line"></div>
        </div>
        <div class="loader-line-wrap">
          <div class="loader-line"></div>
        </div>
        <div class="loader-line-wrap">
          <div class="loader-line"></div>
        </div>
      </div>
    </div>
  </div>

  <script>
    // init_pics = {{ pictures | safe }};
    const hidden = document.getElementById("hidden-input");
    const add_button = document.getElementById("add-button");
    // Send images on fileinput change event
    hidden.onchange = (e) => {
      sendImages(e.target.files);
    };
    add_button.onclick = function (e) {
      e.preventDefault();
      hidden.click();
    };

    const _requestQueue = [];
    let numUploading = 0;

    function sendImages(files) {
      for (const file of files) {
        const formData = new FormData();
        formData.append("images", file);

        _requestQueue.push(formData);
      }
      // Update the loading-animatoin tiles
      numUploading += files.length;
      updateStatus();

      // Trigger actual send
      _sendNextRequest();
    }

    let _hasActiveRequest = false;
    function _sendNextRequest() {
      if (_hasActiveRequest || _requestQueue.length === 0) return;
      _hasActiveRequest = true;

      let xhr = new XMLHttpRequest();
      // End of request: decrease numUploading
      xhr.addEventListener("loadend", () => {
        numUploading -= 1;
        updateStatus();
        displayImages();
        // Tigger next request
        _hasActiveRequest = false;
        setTimeout(_sendNextRequest, 0);
      });

      xhr.open("POST", ".", true);
      xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
      xhr.send(_requestQueue.shift());
    }

    const gallery = document.getElementById("gallery");
    const loader = document.getElementById("loader");
    const loadBtn = document.getElementById("load-button");
    let page = 0;
    function displayImages() {
      // Reset state
      page = 0;
      gallery.innerHTML = "";

      fetchAndDisplayPage();
    }

    loadBtn.addEventListener("click", () => {
      fetchAndDisplayPage();
    });

    gallery.addEventListener("click", (event) => {
      if (event?.target?.dataset?.full) {
        const full = event.target.dataset.full;
        const img = document.createElement("img");
        img.src = full;
        img.classList.add("max-w-full", "max-h-full");
        const overlay = document.createElement("div");
        overlay.classList.add("overlay", "w-screen", "h-screen", "fixed", "top-0", "left-0", "flex", "justify-center", "items-center", "bg-black", "bg-opacity-75");
        overlay.appendChild(img);
        document.body.appendChild(overlay);
        overlay.addEventListener("click", () => {
          overlay.remove();
        });
      }
    })

    async function fetchAndDisplayPage() {
      loader.classList.remove("hidden");
      loadBtn.classList.add("hidden");
      try {
        const response = await fetch(`${document.location}${page}`, {
          method: "GET",
          headers: {
            Accept: "text/html",
            "x-inline": true,
          },
          cache: "no-cache", // Important, otherwise wrong data is displayed when using the browser back functionality
        });
        if (response.ok) {
          const result = await response.text();
          const hasMore = response.headers.get("x-has-more");

          if (result.trim()) {
            gallery.insertAdjacentHTML("beforeend", result);
            page++;
          }
          if (hasMore === "False") {
            document.getElementById("load-button-container").classList.add("hidden");
          }

        }
      } finally {
        loader.classList.add("hidden");
        loadBtn.classList.remove("hidden");
      }
    }

    function updateStatus() {
      const status = document.getElementById("status");

      if (numUploading === 0) {
        status.classList.add("hidden");
        return;
      }

      status.classList.remove("hidden");

      if (numUploading === 1) {
        status.innerText = "Es wird 1 Bild hochgeladen...";
        return;
      }
      status.innerText = `Es werden ${numUploading} Bilder hochgeladen...`;
    }

    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== "") {
        const cookies = document.cookie.split(";");
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === name + "=") {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }


    window.addEventListener("load", () => {
      displayImages();
    });

  </script>

{% endblock content %}
