{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <h1 class="text-3xl pl-3 my-2">Neues Spiel</h1>
  <div class="grid justify-center">
    <form method="post">
      {% csrf_token %}

      {{ form }}

      <button type="submit" class="btn mt-2" value="Submit">Submit</button>
    </form>
  </div>

  <h2 class="text-3xl pl-3 my-2 text-gray-700">Aktive Spiele:</h2>
  <div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Spiel
                </th>
                <th scope="col" class="px-6 py-3">
                    Spieler
                </th>
                <th scope="col" class="px-6 py-3">
                    Start
                </th>
          </tr>
        </thead>
        <tbody>
          {% for instance in active_games %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ instance.game.name }}
                </th>
                <td class="px-6 py-4">
                    {{ instance.player_list }}
                </td>
                <td class="px-6 py-4">
                  {{ instance.time_stamp }}
                </td>
                <td class="px-6 py-4">
                  <a type="button" href="{% url 'gameresults' id=instance.id%}" class="btn">Ergebnis eintragen</a>
                </td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
  </div>

  <h2 class="text-3xl pl-3 my-2 text-gray-700">Beendete Spiele:</h2>
  <div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Spiel
                </th>
                <th scope="col" class="px-6 py-3">
                    Spieler
                </th>
                <th scope="col" class="px-6 py-3">
                    Start
                </th>
          </tr>
        </thead>
        <tbody>
          {% for instance in active_games %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ instance.game.name }}
                </th>
                <td class="px-6 py-4">
                    {{ instance.player_list }}
                </td>
                <td class="px-6 py-4">
                  {{ instance.time_stamp }}
                </td>
                <td class="px-6 py-4">
                  <a type="button" href="{% url 'gameresults' id=instance.id%}" class="btn">Ergebnis anzeigen</a>
                </td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
  </div>


  {% endblock content %}
