{% extends "_base.html" %}

{% block content %}
  <h1 class="text-3xl pl-3 mb-3">Rangliste</h1>

  <div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Spieler
                </th>
                <th scope="col" class="px-6 py-3">
                    Punkte
                </th>
                <th scope="col" class="px-6 py-3">
                    Siege
                </th>
                <th scope="col" class="px-6 py-3">
                  Du?
              </th>
        </tr>
        </thead>
        <tbody>
          {% for player in players %}
            <tr class="border-b dark:bg-gray-800 dark:border-gray-700 {% if player.4 %}bg-gray-700 text-white{%else%}bg-white text-gray-700{% endif %}">
                <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                    {{ player.0 }}
                </th>
                <td class="px-6 py-4">
                    {{ player.3|floatformat:"0" }}
                </td>
                <td class="px-6 py-4">
                  {{ player.1 }}/{{ player.2 }}
                </td>
                <td>
                  {% if not player.4 %}
                  <button type="button" data-player-name="{{ player.0 }}" class="btn">Claim</button>
                  {%endif%}
                </td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
</div>
<script>
  const buttons = document.querySelectorAll("button");
  buttons.forEach((button) => {
    if (button?.dataset?.playerName === undefined) {
      return;
    }
    button.onclick = function (e) {
      e.preventDefault();
      const name = button.dataset.playerName;

      document.cookie = `x-player-name=${name}; max-age=34560000;`;
      window.location.reload();
    };
  });
</script>
{% endblock content %}
